# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\STSC\Desktop\Ecommerce-website-Furniture-store-using-AngularJS-master\Ecommerce-website-Furniture-store-using-AngularJS-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
